modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-24_05"
packages = ["bash", "cargo", "freetype", "glibcLocales", "libiconv", "libxcrypt", "openssl", "postgresql", "rustc"]

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind", "0.0.0.0:5000", "main:app"]

[workflows]
runButton = "ASGI Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "gunicorn --bind 0.0.0.0:5000 --reuse-port --reload main:app"
waitForPort = 5000

[[workflows.workflow]]
name = "ASGI Server"
author = 39062319
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m gunicorn main:app --worker-class uvicorn.workers.UvicornWorker --bind 0.0.0.0:5000 --workers 1 --timeout 120"

[[ports]]
localPort = 5000
externalPort = 80

[agent]
integrations = ["python_sendgrid==1.0.0", "python_database==1.0.0", "python_log_in_with_replit==1.0.0"]
